.App {
  text-align: center;
  height:screen;
  background-color: black;

}

body, html {
  height: 100%;
  margin: 0;

}

.errorLabel {
  color: red;
}
.bodyContainer{
    /* The image used */
    background-image: url(./image/restaurant.jpg); 
    background-color: black;

    height: 100vh; 

    background-position: right;
    background-repeat: no-repeat;
    background-size: 50%;
}

.chakra-menu__menu-button {
  background-color: #282c34 !important; 
  color: white !important; 
  display: flex;
  align-items: center;
  margin: 10px;
  
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.CalendarPage{
  margin : 0% 2%;
  padding : 20px;
  width:100%;
}

.react-calendar__tile--now {
  background: #282c34 !important;
  color: white !important;
}

.react-calendar__tile--active:enabled:focus, .react-calendar__tile--active{
  background: beige !important;
  color: black !important;
}

.react-calendar__tile:enabled:hover{
  background: beige !important;
  color: black !important;
}

.react-calendar{
  padding: 30px !important;
  font-size: 1.4rem !important;
  width:100% !important;
  background-color: rgba(226, 199, 199, 0.1) !important;
  color: beige !important;
  border: none !important;
}

.timeContainer{
  margin : 0% 0%;
  padding : 30px;
  width:100%;
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  background-color: rgba(226, 199, 199, 0.1);
  align-items: flex-start;
  font-weight: 500;
  text-transform: uppercase;
}


.guestsNumber{
  margin : 0% 0%;
  padding : 30px;
  width:80%;
  font-size: 1.6rem;
  display: flex;
  background-color: rgba(226, 199, 199, 0.1);
  align-items: flex-start;
  font-weight: 500;
  text-transform: uppercase;
}

.timeContainer Button{
width: 100px;
margin: 20px 20px;
font-size: 1.6rem;
}

.lunchTime, .eveningTime{
  margin:30px 0px;
  text-align: left;
}







/*for list reservations _________________________*/

.cardContainer{
  display: flex;
  flex-wrap: wrap;
  background-color: rgba(255, 255, 255, 0.5);
  padding:10px;
  border-radius: 2px;
}

.card{
  width:200px;
  padding: 10px;
  margin : 10px 5px;
  background-color: grey;
}

.cardCheckBooking{
  /* width:250px; */
  padding: 10px;
  margin : 10px 5px;
  background-color: transparent;
  border: 1px solid beige;
}

.cardCheckBooking__button{
  color: beige !important;
  border: 1px solid beige !important;
  background-color: black !important;
}

/*for form________________________*/

.formPage{
  display: flex;
  flex-wrap: nowrap;
  padding: 10px;
  width: 50%;
  border: 1px solid beige;
  color: beige;
  flex-direction: column;
  align-content: center;
  margin: 10px;
  justify-content: center;
  align-items: center;
}


/*for stepper*/

.stepper-container {
  display: flex;
  flex-direction: column;
  height: 100vh; 
  width: 80%;
  margin: auto;
}

.stepper-menu {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center;
  color: beige;
}

.stepper-content {
  flex: 3;
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.stepper-content button {
  color:beige;
  border: 1px solid beige;
  padding: 7px 20px;
  margin: 10px;
  font-size: 1rem;
  cursor: pointer;
}

.stepper-content button:hover {
  background-color: beige;
  color: black;
}

.Step {
  display: flex;
  align-items: center; 
  height: 50px; 
  width: 100%; 
}

.StepIndicator {
  margin-right: 10px; 
}

.StepTitle {
  font-size: 1rem; 
}

.StepSeparator {
  flex: 1; 
}

.chakra-step__separator {
  background-color: transparent !important; 
}

.css-kq5oaw[data-status=complete] {
  background-color: #66101F !important; 
  color: black !important; 
}

.css-kq5oaw[data-status=active] {
  border-color: #66101F !important;
}